# Node / Next
node_modules/
.next/
out/
dist/

# Env & локальные БД
.env
.env.local
.env.*.local
prisma/dev.db

# Локальные загрузки (если есть)
uploads/
public/uploads/

# Vercel/Netlify
.vercel/
.netlify/

# Системное
.DS_Store
Thumbs.db
